@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AIUB University Application</h1>
    <p class="lead">Why Study at AIUB ? AIUB is Distinction in Leadership. Right from its day one, AIUB has stood for quality, commitment and integrity More.</p>
    <p><a href="http://www.aiub.edu/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MESSAGE FROM THE CHAIRPERSON</h2>
        <p><img src="http://www.aiub.edu/StaticPages/administration/chairperson.jpg" /></p>
        <p>
            This message is heartily dedicated to my beloved late husband, the Founder and Chairman of the Board, Dr. Anwarul Abedin for his pioneering effort to establish this university, which has gained prestige and recognition during the last sixteen years of its establishment. As the new Chairman of the Board, I will endeavor to continue the legacy of my..
        </p>
        <p><a class="btn btn-default" href="http://www.aiub.edu/HtmlViewer2.aspx?FileName=/staticpages/administration/Chairperson.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why Study at AIUB ?</h2>
        <p>A university is a fountainhead of knowledge. New knowledge, skills and meaningful experiences spring from the university. To quench the thirst of individuals who are in search for wider horizon of learning and discover novel challenges in life is the inherent intention of AIUB even at the time of its conception. Students are honed and nurtured to become Leaders</p>
        <p><a class="btn btn-default" href="http://www.aiub.edu/HtmlViewer2.aspx?FileName=/staticpages/aiub/why_study_here.htm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>AIUB Permanent Campus</h2>
        <p> <img src="http://www.aiub.edu/StaticPages/Events/Aiub_PermanenrCampus/1.JPG" >width="100"height="100"/></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>